<div id="nav-wrapper" class="container-fluid">

	<!-- para activar el menú descomentar el elemento nav-->


	<!-- <nav id="nav" class="container-fluid">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li class="logo">
				<a class="header__logo" href="{{ '/' | relative_url }}">
			
				  {% include logoiibicirt.svg %}

			  </a>
			</li>
			<li {% if current[1] == 'personal.html' %}class='current'{% endif %} class="secc"><a href="/curso-edicion-digital/personal">Personal</a></li>
			<li {% if current[1] == 'incipit' %}class='current'{% endif %} class="secc"><a href="/curso-edicion-digital/incipit">Incipit</a></li>
			<li {% if current[1] == 'actividades' %}class='current'{% endif %} class="secc"><a href="/curso-edicion-digital/actividades">Investigación</a></li>
			<li {% if current[1] == 'publicaciones' %}class='current'{% endif %} class="secc"><a href="/curso-edicion-digital/publicaciones">Publicaciones</a></li>
			<li {% if current[1] == 'laboratorios' %}class='current'{% endif %} class="secc"><a href="/curso-edicion-digital/laboratorios">Laboratorios</a></li>
		</ul>
	</nav> -->
</div>
