<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>



	<title>Plantilla simple</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- bootstrap -->

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<!-- bootstrap -->

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	


	<script src="/curso-edicion-digital/assets/js/jquery.min.js"></script>
	<script src="/curso-edicion-digital/assets/js/skel.min.js"></script>
	<script src="/curso-edicion-digital/assets/js/skel-panels.min.js"></script>
	<script src="/curso-edicion-digital/assets/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="https:hdlab.com/curso-edicion-digital/assets/css/skel-noscript.css"/>
		<link rel="stylesheet" href="https:hdlab.com/curso-edicion-digital/assets/css/style.css"/>
		<link rel="stylesheet" href="https:hdlab.com/curso-edicion-digital/assets/css/style-desktop.css"/>
		<link rel="stylesheet" href="https:hdlab.com/curso-edicion-digital/assets/css/style-mobile.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div>

			<!-- Logo -->
			<div id="logo">
				
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}
	
	<!-- Tweet -->
	<!-- <div id="tweet">
		<div class="container-fluid">
			<section>
				<header class="contact">Contacto</header>
				<ul>
				<li class="contact">Email: secrit@conicet.gov.ar / <a href="http://www.iibicrit-conicet.gov.ar/">iibicrit@gmail.com</a></li>
				<li class="contact">Dirección postal: Marcelo T. de Alvear 1694 (1060). Buenos Aires - Argentina</li>
				<li class="contact">Teléfono: (54)-11-4129-1158</li>
			</ul>
				
			<header class="contact">2023 IIBICRIT SECRIT CONICET.</header>
	
			</section>
		</div>
	</div> -->


<!-- Footer -->
<!-- <div id="footer">
	<div class="container">
		<section>
			<ul class="contact"></ul>
			<li>Contacto</li>
			<li>Email: secrit@conicet.gov.ar / iibicrit@gmail.com</li>
			<li>Dirección postal: Marcelo T. de Alvear 1694 (1060). Buenos Aires - Argentina</li>
			<li>Teléfono: (54)-11-4129-1158</li>
		</ul>
			
		<header>2023 IIBICRIT SECRIT CONICET.</header> -->


			<!-- <header>
				<h2>Get in touch</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
			</header>
			<ul class="contact">
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
			</ul> -->
		</section>
	</div>
</div>

<!-- Copyright -->
<!-- <div id="copyright">
	<div class="container">
		Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a>
	</div>
</div> -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- bootstrap -->
</body>
</html>
